<div class="container">

  <h2 class="page-header">Add Data</h2>
  {{#if errors}}
  {{#each errors}}
  <div class="alert alert-danger">{{msg}}</div>
  {{/each}}
  {{/if}}
  {{#if dataError}}
  {{#each dataError}}
  <div class="alert alert-danger" role="alert">{{msg}}</div>
  {{/each}}
  {{/if}}

  <form method="post" id="searchForm">
    <input type="hidden" id="pageType" value="{{pageType}}">

    <div id="searchExtra" class="none">
      <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6"><a style="float:right;" onclick="editData();" class="sm-button brand-button">Edit</a></div>
      </div>
    </div>
    <div class="form-group">
      <label>Key Words</label>
      <input type="text" class="form-control" placeholder="Keyword" name="dataKeyword" value="{{returnData.keyword}}" id="dataKeyword">
    </div>
    <div class="form-group">
      <label>Data</label>
      <textarea class="form-control" placeholder="data" name="data" id="data" rows="12">{{returnData.data}}</textarea>
    </div>
    <div id="sub">
    <a class="sm-button brand-button" onclick="submitForm();">Submit</a></div>
  </form>
  <!-- </div>
</div>
</div>-->
</div>

<script type="text/javascript">


function submitForm(){
  if("{{pageType}}" == "editData" ){
    document.forms[0].action = "/search/saveEditData";
    document.forms[0].submit();
  }else if("{{pageType}}" == "newData"){
    document.forms[0].action = "/search/addData";
    document.forms[0].submit();
  }

}
$(document).ready(function() {
  if("{{pageType}}" == "newData"){
    console.log("new Data");
  }else if("{{pageType}}" == "editData"){
    console.log("edit Data");
  }else{
    $("#searchForm :input").prop("readOnly", true);
    $('#sub').addClass("none");
    $("#searchExtra").removeClass("none");
    $("#searchExtra").addClass("show")
  }

});

//Need To Write Validation on Client Side and set val using addRequirement Page as base error parser
function validate(){
  return true;
}

function editData(){
  document.forms[0].action = "/search/editData";
  document.forms[0].submit();
}

</script>
<style>
.none{
  display: none;
}

.show{
  display: block;
}
</style>
