<div class="container">

  <h2 class="page-header">Add Data</h2>
  {{#if errors}}
  {{#each errors}}
  <div class="alert alert-danger">{{msg}}</div>
  {{/each}}
  {{/if}}
  {{#if dataError}}
  {{#each dataError}}
  <div class="alert alert-danger" role="alert">{{msg}}</div>
  {{/each}}
  {{/if}}



  <!-- <div class="row">
  <div class="col-md-2"><div>
  <div class="col-md-8"> -->
  <form method="post" id="searchForm">
    <input type="hidden" id="pageType" value="{{pageType}}">
    <p>Response returned in {{responseTime}}</p>
    {{returnData}}
{{returnData.data}}
    <div class="form-group">
      <label>Key Words</label>
      <input type="text" class="form-control" placeholder="Keyword" name="dataKeyword" value="{{returnData.keyword}}" id="dataKeyword">
    </div>
    <div class="form-group">
      <label>Data</label>
      <textarea class="form-control" placeholder="data" name="data" id="data" rows="15">{{returnData.data}}</textarea>
    </div>
    <a class="sm-button brand-button" id="Sub" onclick="submitForm();">Submit</a>
  </form>
  <!-- </div>
</div>
</div>-->
</div>

<script type="text/javascript">


function submitForm(){
  if("{{pageType}}" == "edit Data" ){
    document.forms[0].action = "/search/editDta";
    document.forms[0].submit();
  }else if("{{pageType}}" == "newData"){
    document.forms[0].action = "/search/addData";
    document.forms[0].submit();
  }

}
$(document).ready(function() {
  if("{{pageType}}" == "newData"){
    console.log("new Data");
  }else if("{{pageType}}" == "editData"){
    console.log("edit Data");
  }else{
    $("#searchForm :input").prop("disabled", true);
    $("#searchForm :a").prop("disabled", true);
    $('#sub').addClass("none")

  }

});

//Need To Write Validation on Client Side and set val using addRequirement Page as base error parser
function validate(){
  return true;
}

</script>
<style>
  .none{
    display: none
  }
</style>
